:root {
--bkground-color:#fff;
--bkground-title:#2F303A;
--title-color:#FFFFFF;
--word1st-logo-color: #2196F3;
--word2sd-logo-color: #000000;
--word2sd-logo-footer:#fff;
--links-color:#212121;
--links-hover-color:#2196F3;
--contacts-color:#757575;
--headings-color:#212121;
--paragraph-color:#757575;
--font-family:"Roboto", "sans-serif";

}

body{
    font-family: var(--font-family);
}

/* Header logo */
.header-page{
    background-color: var(--bk-color);
    font-family:"Raleway", sans-serif; 
}
    
     .header-logo{
         letter-spacing:0.04em;
        font-weight: 700;
        color: var(--word1st-logo-color);
        font-size: 26px;
        text-decoration: none;

    } 

   .word-logo{
    color: var(--word2sd-logo-color);
   }

   .header-logo:active{
    background-color: #2196F3;
   }


   /* Navigation bar*/
 .navigation-bar ul{
    list-style: none;
    
}
.header-page .items-bar a{
    color:var(--links-color) ;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.017em;
    text-decoration: none;
}
.header-page .items-bar a:hover,
.header-page .navigation-bar .item-bar a:focus{
    color: var(--links-hover-color);
}
.header-page .items-bar a:active{
    background-color: #2196F3;
    color: #FFFFFF;
}

.contact-items a{
    display:block;
    color: var(--contacts-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.017em;
    text-decoration: none;
}
.contact-items a:hover,
.contact-items a:focus{
    color: var(--links-hover-color);
}

main{
    background-color: var(--bkground-color);
}

/* Section title page*/
.section-title{
    background-color: var(--bkground-title);
}
.section-title h1{
color: var(--title-color);
font-weight:900;
font-size: 44px;
text-align: center;
letter-spacing: 0.165em;
line-height: 1.36;
text-transform: uppercase; 
}
.request{
     font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--links-hover-color);
    color: #fff;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.request:hover{
    background-color: #2196F3;
    color: #FFFFFF;
} 
/* Section our targets */
.section-targets ul{
list-style: none;
}

.target-title{
    color: var(--headings-color);
    font-size: 14px;
    letter-spacing: 0.026em;
    font-weight: 700;
    text-transform: uppercase;
    
}

.target-info{
    letter-spacing: 0.026em;
    font-size: 14px;
    /* line height este line height/font size */
    line-height: 1.7;
    color: var(--paragraph-color);
}
/* Section What we do */
.servicies{
    color: var(--headings-color);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 700;
}
/* Section Our Team */
.section-team{
    background-color: #F5F4FA;
}
.section-team ul{
    list-style: none;
}
.about-team{
    color: var(--headings-color);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 700;
}

.title-name{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--headings-color);
}

.training{
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--paragraph-color);
}

/* Section Footer */
.section-address{
    background-color: var(--bkground-title);
}
.word-logo-footer{
    color: var(--word2sd-logo-footer);
}
.address-office{
    color: #FFFFFF;
    font-family: var(--font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

/* Page Portofolio */
/* .button-field {
    list-style: none; */

    .list {
        list-style: none;
    }

.button-field button{
    color: var(--links-color);
    font-family: inherit; 
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.62;
    border: none;
}
.button-field button:hover,
.button-field button:focus{
    background-color: var(--links-hover-color);
    color: var(--title-color);
} 

.button-field button:active{
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Section Gallery */

.name-project{
color: var(--headings-color);
font-family: var(--font-family);
font-size: 18px;
font-weight: 700;
letter-spacing: 0.06em;
line-height: 1.8;
}
.category{
color: var(--paragraph-color);
font-size: 16px;
letter-spacing: 0.03em;
line-height: 1.87;
}
